# See http://help.github.com/ignore-files/ for more about ignoring files.

# API Keys

# personnel info

# compiled output


# Old code
/archived

#Test and non-project stuff
junk*

# profiling files

# IDE - VSCode
.vscode/*
!.vscode/arduino.json.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db
/.fseventsd
.metadata_never_index
/.Trashes
System Volume Information
/System Volume Information/
"System Volume Information"
/.System Volume Information/*
/.System Volume Information/